<!DOCTYPE html>
  <html>
    <head>
      <title>¡ACOTB te da la bienvenida!</title>
    </head>
    <body>
      <h1>Hola, <%= @user.username %>!</h1>
      <p>Has sido registrado en nuestra plataforma ACOTB, por favor ingresa a este link y actualiza tu contraseña.</p>
      <%= link_to 'Actualizar Contraseña', "https://app-acotb.vercel.app/recovery-password?token=#{@token}"  %>
      <p>¡Estamos contentos de que estés acá!</p>

    </body>
  </html>