<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hola, <%= @resource.username %>!</p>
    <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta.</p>
    <p>Por favor, haz clic en el siguiente enlace para actualizar tu contraseña:</p>
    <p><%= link_to 'Cambiar mi contraseña', "https://app-acotb.vercel.app/recovery-password?reset_password_token=#{@token}" %></p>
  </body>
</html>
