<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Restablecimiento de Contrase単a</h1>
    <p>Hola, <%= @resource.username %>!</p>
    <p>Hemos recibido una solicitud para restablecer la contrase単a de tu cuenta.</p>
    <p>Por favor, haz clic en el siguiente enlace para restablecer tu contrase単a:</p>
    <p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>
  </body>
</html>
